
<table border="0">
    <tr>
        <th style = "width:40%; text-align:left" >Book Name </th>
        <th style = "width:25%; text-align:left">Author </th>
        <th style = "width:25%; text-align:left">Genre</th>
        <th style = "width:10%; text-align:left">Published Year </th>
    </tr>
    <tr *ngFor = "let book of bookInfoList">
        <td style = "width:40%">{{book.bname}}</td>
        <td style = "width:25%">{{book.bauthor}}</td>
        <td style = "width:25%">{{book.bgenre}}</td>
        <td style = "width:10%">{{book.year}}</td>
    </tr>  
</table>     
